@import url(/node_modules/modern-normalize/modern-normalize.css);
.authLayout {
  display: grid;
  grid-template-columns: 1fr 480px;
  height: 100vh;
  overflow: hidden; }
  .authLayout__container {
    background-color: #0b2253; }
  .authLayout__container--form {
    background-image: linear-gradient(0deg, #e8f0f1, white);
    box-shadow: -0.5em 0 0.5em #0007;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5em;
    overflow-y: auto;
    padding: 1em;
    text-align: center; }
    .authLayout__container--form h1 {
      color: #9eca00;
      display: block;
      font-size: 2em;
      margin-bottom: 2em; }
    .authLayout__container--form hr {
      border: 1px solid #d9e8ea;
      margin: 4em 2em 2em; }
    .authLayout__container--form a {
      color: #9eca00;
      text-decoration: none; }
      .authLayout__container--form a:hover {
        color: #749401;
        text-decoration: underline; }
  .authLayout__image {
    height: 100%;
    max-height: 100vh;
    object-fit: cover;
    object-position: left;
    width: 100%; }
  .authLayout__logo svg {
    fill: #b3e207; }

.form__field {
  margin-bottom: 2em; }
  .form__field input {
    border-radius: 1em;
    border: 1px solid #ccc;
    outline-width: 0;
    padding: 0.75em;
    width: 80%; }
  .form__field button {
    outline-width: 0;
    cursor: pointer; }

.button {
  background-color: #0b2253;
  border-radius: 0.5em;
  border: 0 solid;
  color: #fff;
  min-width: 180px;
  padding: 1em 2em; }
  .button:hover {
    background-color: #004574; }

html {
  color: #0b2253; }
